label{
  display:block;
  margin:.75em 0 .2em;
}
/* single-line text, checkbox, and button */
input, select, textarea{
  display:block;
  width:100%;
  padding:.3em;
  font-size:20px;
  background-color: $white;
  border:solid 1px $gray;
  resize:vertical;
}
textarea{
  min-height:180px;
}
select{
  color: $gray;
}
option{
  color: $gray;
  background: lavenderBlush;
}
input[type=submit]{
  margin: 1em 0 0;
}

@media screen and (min-width:600px) {
  /*  make the form 2 columns */
  form:after{
    content:'';
    display:block;
    clear:both;
  }
}

.contact {
  &-inform {
    // padding: 4rem 2rem 2rem;
    color: $gray;
    background: white;
  }
}