.grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 1.5rem;
}

.col-1 {
  grid-column: span 1;
}

.col-2 {
  grid-column: span 2;
}

.col-3 {
  grid-column: span 3;
}

.col-4 {
  grid-column: span 4;
}

.col-5 {
  grid-column: span 5;
}

.col-6 {
  grid-column: span 6;
}


.col-1\@m {
  @media (min-width: $breakpoint-m) {
    grid-column: span 1;
  }
}

.col-2\@m {
  @media (min-width: $breakpoint-m) {
    grid-column: span 2;
  }
}

.col-3\@m {
  @media (min-width: $breakpoint-m) {
    grid-column: span 3;
  }
}

.col-4\@m {
  @media (min-width: $breakpoint-m) {
    grid-column: span 4;
  }
}

.col-5\@m {
  @media (min-width: $breakpoint-m) {
    grid-column: span 5;
  }
}

.col-6\@m {
  @media (min-width: $breakpoint-m) {
    grid-column: span 6;
  }
}

.grid__item {
  padding: 0 4rem;
}

.container {
  max-width: $container;
  margin: 0 auto;
}

.container-small {
  max-width: $container-small;
  margin: 0 auto;
}