<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <!-- noindex meta -->
    {{ $default_noindex_kinds := slice "section" "taxonomy" "taxonomyTerm" }}
    {{ $noindex_kinds := .Site.Params.noindex_kinds | default $default_noindex_kinds }}
    {{ $is_noindex_true := and (isset .Params "noindex") .Params.noindex }}
    {{ if or (in $noindex_kinds .Kind) ($is_noindex_true) }}
    <meta name="robots" content="noindex">
    {{ end }}
    <title>{{ .Title }}</title>
    <meta name="description" content="{{ .Description }}">
    <meta property="og:description" content="{{ .Description }}">
    <link rel="canonical" href="{{ .URL | relURL }}">
    <!-- CSS -->
    {{ $options := (dict "targetPath" "css/style.css" "outputStyle" "compressed" "enableSourceMap" true) }}
    {{ $style := resources.Get "sass/main.scss" | toCSS $options | resources.PostCSS }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}">
</head>

<body class='page {{ block "body_classes" . }}{{ end }}'>

        <header>
            <a href="{{ .Site.BaseURL }}">
                <img id="logo" width="250" src="{{ .Site.BaseURL }}images/dmc-logo.png" alt="{{ .Site.Title }}">
            </a>
        </header>
        {{ partial "nav.html" . }}

        {{ block "main" . }}
        {{ end }}

{{ block "nav_js" . }}
{{ end }}
{{ partial "footer" . }}
</body>
</html>