<!doctype html>
<html lang="en">
<head>
    {{ block "site/meta" . }}{{ partial "site/meta.html" . }}{{ end }}
    <!-- CSS -->
    {{ $options := (dict "targetPath" "css/style.css" "outputStyle" "compressed" "enableSourceMap" true) }}
    {{ $style := resources.Get "sass/main.scss" | toCSS $options | resources.PostCSS }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}">
    <script type="application/ld+json">
        {
        "@context": "http://schema.org/",
        "@type": ["LocalBusiness","Service", "HomeAndConstructionBusiness"],
        "aggregateRating" : {
            "@type" : "AggregateRating",
            "ratingValue": "5",
            "reviewCount": "4"
        },
            "name": "Duncan MC Construction, LLC",
            "telephone": "541-896-1051",
            "openingHours": "Mo-Fri 07:30-17:30",
            "logo": "https://www.duncanmcconstruction.com/images/dmc-logo.png",
            "image": "https://www.duncanmcconstruction.com/images/dmc-logo.png",
            "url": "https://www.duncanmcconstruction.com",
            "priceRange" : "$$$",
            "areaServed" : [
                {"@type" : "Place",
                            "name": ["Canyonville, Oregon"]
                },
                {"@type" : "Place",
                            "name": ["Dillard, Oregon"]
                },
                {"@type" : "Place",
                            "name": ["Glide, Oregon"]
                },
                {"@type" : "Place",
                            "name": ["Green, Oregon"]
                },
                {"@type" : "Place",
                            "name": ["Lookingglass, Oregon"]
                },
                {"@type" : "Place",
                        "name": ["Melrose, Oregon"]
                },
                {"@type" : "Place",
                        "name": ["Myrtle Creek, Oregon"]
                },
                {"@type" : "Place",
                        "name": ["Oakland, Oregon"]
                },
                {"@type" : "Place",
                            "name": ["Riddle, Oregon"]
                },
                {"@type" : "Place",
                        "name": ["Roseburg, Oregon"]
                },
                {"@type" : "Place",
                        "name": ["Sutherlin, Oregon"]
                },
                {"@type" : "Place",
                        "name": ["Umpqua, Oregon"]
                },
                {"@type" : "Place",
                        "name": ["Wilbur, Oregon"]
                },
                {"@type" : "Place",
                        "name": ["Winchester, Oregon"]
                },
                {"@type" : "Place",
                        "name": ["Winston, Oregon"]
                },

            ],
            "address" : {
            "@type" : "PostalAddress",
            "streetAddress" : "",
            "addressLocality" : "Roseburg",
            "addressRegion" : "OR",
            "postalCode" : "97470"
            },
            "description": "Duncan MC Construction provides a wide range of construction services in Roseburg, Oregon. We specialize in bathroom and kitchen remodels, residential home repairs, and floor installations. We are licensed, bonded, and insured, and we have over 14 years of experience in the construction industry.",
        }
        </script>
    {{ block "schema" . }}
    {{ end }}
    {{- $url := replace .Permalink ( printf "%s" ( "/" | absLangURL ) ) "" -}}
    {{- $url := replace .Permalink ( printf "%s" ( "/" | absLangURL ) ) "" -}}

    {{- $.Scratch.Add "path" ( "/" | absLangURL ) -}}
    {{- $.Scratch.Add "breadcrumb" (slice (dict "url" ( "/" | absLangURL ) "name" "home" "position" 1 )) -}}
    {{- range $index, $element := split $url "/" -}}
    {{- $.Scratch.Add "path" $element -}}
    {{- $.Scratch.Add "path" "/" -}}
    {{- if ne $element "" -}}
    {{- $.Scratch.Add "breadcrumb" (slice (dict "url" ($.Scratch.Get "path") "name" . "position" (add $index 2))) -}}
    {{- end -}}
    {{- end -}}
    <script type="application/ld+json">
        {
        "@context": "http://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [
        {{ range $.Scratch.Get "breadcrumb" }}
            {{ if ne .position 1 }},
        {{ end }}
        {
                "@type": "ListItem",
                "position": {{ .position }},
                "item": {
                "@id": "{{ .url }}",
                "name": "{{ .name }}"
                }
            }{{ end }}]
        }
        </script>
    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
        w[l] = w[l] || []; w[l].push({
            'gtm.start':
                new Date().getTime(), event: 'gtm.js'
        }); var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-PMJ8JCL');</script>
    <!-- End Google Tag Manager -->
</head>

<body class='page {{ block "body_classes" . }}{{ end }}'>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PMJ8JCL" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    {{ partial "header.html" . }}
    

    {{ block "main" . }}
    {{ end }}

    {{ block "site/scripts" . }}{{ partial "site/scripts.html" . }}{{ end }}
    {{ partial "footer" . }}
</body>
</html>