{{ define "body_classes" }}landing{{ end }}

{{ define "main" }}

<!--Content-->
<section class="container">
    <div class="grid align-items-baseline m-5">
        <div class="col-6">
            <h1 class="text__center">{{.Params.heading}}</h1>
        </div>
        <div class="col-3@m col-6">
					{{ .Content }}
				</div>
        <div class="col-3@m col-6">
            <div class="google-maps">
                {{/*  {{ partial "request-a-quote-form.html" }}  */}}
                <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/embed/v2.js"></script>
                <script>
                hbspt.forms.create({
                    region: "na1",
                    portalId: "44588094",
                    formId: "8f4e1099-d0c6-4a63-be9a-8afd0fa849b0"
                });
                </script>
            </div>
        </div>
    </div>
</section>

{{ end }}