
{{ define "body_classes" }}default{{ end }}
{{ define "main" }}
<!--Hero-->

<!--Content-->
<section class="container-small">
    <div class="grid m-5">
        <div class="col-6">
            <h1 class="text__center">{{.Params.heading}}</h1>
        </div>
    </div>
    <div class="grid m-5">
        <div class="col-6 text__center">
            <img width="250" class="profile__pic" src="/{{ .Params.image }}" alt="{{ .Params.imageTitle }}">
            <small>{{ .Params.imageTitle }}</small>
        </div>
    </div>
    <div class="grid m-5">
        <div class="col-6">
            {{ .Content }}
        </div>
    </div>
</section>

{{ end }}