<form class="contact-form form" name="contact" data-netlify="true" netlify-honeypot="bot-field" method="POST">
	<div class="form-control">
		<label class="form-label" for="the-name">Your Name</label>
		<input class="form-input" placeholder="Your Name" type="text" name="name" id="the-name" required>
	</div>
	<div class="form-control">
		<label class="form-label" for="the-email">Email Address</label>
		<input class="form-input" placeholder="john@example.com" type="email" name="email" id="the-email" required>
	</div>
	<div class="form-control">
		<label class="form-label" for="the-phone">Phone Number</label>
		<input class="form-input" placeholder="541-123-1234" type="tel" name="phone" id="the-phone" required>
	</div>
	<div class="form-control">
		<label class="form-label" for="the-message">Message</label>
		<textarea class="form-input" placeholder="Your Message" rows="4" name="message" id="the-message" required></textarea>
	</div>
	<div class="mt-5">
		<input class="btn" data-type="accent" type="submit" value="Send Message">
	</div>
</form>