<footer>
    <div class="container">
        <div class="inner__container">
            <div class="grid" style="align-items: center;">
                <div class="col-2@m col-6">
                    <h4 class="contact__name">CONTACT US <br><br>
                        {{ .Site.Data.contact.businessName }}
                    </h4>
                    <ul class="list">
                        <li>Monday - Friday: 7:30 AM - 5:30 PM <br> Saturday - Sunday: Closed</li>
                        <li></li>
                    </ul>
                </div>
                <div class="col-2@m col-6">
                    <div class="">
                        <h4>Our Services</h4>
                        <ul class="list">
                           {{ range $.Site.Data.ServicesPage }}
                            <li>
                                {{ if .link }}
                                    <a href="{{ .link }}">{{ .title }}</a>
                                {{ else }}
                                    {{ .title }}
                                {{ end }}
                            </li>
                            {{ end }}
                        </ul>
                    </div>
                </div>
                <div class="col-1@m col-6">
                    <span class="phone">
                        <svg aria-hidden="true" data-prefix="fas" data-icon="mobile-alt" class="svg-inline--fa fa-mobile-alt fa-w-10"
                            role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                            <path fill="currentColor" d="M272 0H48C21.5 0 0 21.5 0 48v416c0 26.5 21.5 48 48 48h224c26.5 0 48-21.5 48-48V48c0-26.5-21.5-48-48-48zM160 480c-17.7 0-32-14.3-32-32s14.3-32 32-32 32 14.3 32 32-14.3 32-32 32zm112-108c0 6.6-5.4 12-12 12H60c-6.6 0-12-5.4-12-12V60c0-6.6 5.4-12 12-12h200c6.6 0 12 5.4 12 12v312z"></path>
                        </svg>
                        <span>PHONE</span>
                        <a href="tel:{{ .Site.Data.contact.phone }}">{{ .Site.Data.contact.phone }}</a>
                    </span>
                </div>
                <div class="col-1@m col-6">
                    <span class="email">
                        <svg aria-hidden="true" data-prefix="fas" data-icon="envelope-open" class="svg-inline--fa fa-envelope-open fa-w-16"
                            role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                            <path fill="currentColor" d="M512 464c0 26.51-21.49 48-48 48H48c-26.51 0-48-21.49-48-48V200.724a48 48 0 0 1 18.387-37.776c24.913-19.529 45.501-35.365 164.2-121.511C199.412 29.17 232.797-.347 256 .003c23.198-.354 56.596 29.172 73.413 41.433 118.687 86.137 139.303 101.995 164.2 121.512A48 48 0 0 1 512 200.724V464zm-65.666-196.605c-2.563-3.728-7.7-4.595-11.339-1.907-22.845 16.873-55.462 40.705-105.582 77.079-16.825 12.266-50.21 41.781-73.413 41.43-23.211.344-56.559-29.143-73.413-41.43-50.114-36.37-82.734-60.204-105.582-77.079-3.639-2.688-8.776-1.821-11.339 1.907l-9.072 13.196a7.998 7.998 0 0 0 1.839 10.967c22.887 16.899 55.454 40.69 105.303 76.868 20.274 14.781 56.524 47.813 92.264 47.573 35.724.242 71.961-32.771 92.263-47.573 49.85-36.179 82.418-59.97 105.303-76.868a7.998 7.998 0 0 0 1.839-10.967l-9.071-13.196z"></path>
                        </svg>
                        <span>EMAIL</span>
                        <a href="mailto:{{ .Site.Data.contact.email }}">{{ .Site.Data.contact.email }}</a>
                    </span>
                </div>
            </div>
        </div>

        <div class="grid">
            <div class="col-6">
                <div class="copyright">
                    <svg aria-hidden="true" data-prefix="fas" data-icon="clipboard-check" class="svg-inline--fa fa-clipboard-check fa-w-12"
                        role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                        <path fill="currentColor" d="M336 64h-80c0-35.3-28.7-64-64-64s-64 28.7-64 64H48C21.5 64 0 85.5 0 112v352c0 26.5 21.5 48 48 48h288c26.5 0 48-21.5 48-48V112c0-26.5-21.5-48-48-48zM192 40c13.3 0 24 10.7 24 24s-10.7 24-24 24-24-10.7-24-24 10.7-24 24-24zm121.2 231.8l-143 141.8c-4.7 4.7-12.3 4.6-17-.1l-82.6-83.3c-4.7-4.7-4.6-12.3.1-17L99.1 285c4.7-4.7 12.3-4.6 17 .1l46 46.4 106-105.2c4.7-4.7 12.3-4.6 17 .1l28.2 28.4c4.7 4.8 4.6 12.3-.1 17z"></path>
                    </svg>
                    <span class="licensed"><strong>LICENSED - INSURED - BONDED</strong> {{ .Site.Data.contact.licensed }} | {{ replace .Site.Copyright "{year}" now.Year | markdownify}} | Site by <a href="https://www.digitalcloudnw.com/">Digital Cloud</a></span>
                </div>
            </div>
        </div>
    </div>
</footer>