<nav class="main-nav" role="navigation">
  <ul class="menu">
    {{ $currentPage := . }}
    {{ range .Site.Menus.main }}
        <li class="{{ if $currentPage.HasMenuCurrent "main" . }}active{{ end }}">
          <a href="{{ .URL | relURL }}" class="{{ if $currentPage.HasMenuCurrent "main" . }}active-link{{ end }}" href="#">
            {{ .Pre }}
            {{ .Name }}
          </a>
        </li>
    {{ end }}
    <li>
      <a class="btn contact" href="/web-request-a-quote/">Request A Quote</a>
       {{/*  <a class="btn contact" href="tel:{{ .Site.Data.contact.phone }}" title="Contact Duncan MC Construction">Contact</a>  */}}
    </li>
  </ul>
</nav>